    body {
          background-image: url('../assets/fondo.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
          }
                  
        p {
          color: white;
          text-transform: uppercase;
          text-align: center;
          }

       .centrado {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 50%;
          }
    